.About-wrapper h1 {
}

.img-container {
  box-shadow: -5px 9px 14px 0px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: -5px 9px 14px 0px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: -5px 9px 14px 0px rgba(0, 0, 0, 0.7);
}

@media (max-width: 300px) {
  .About-wrapper h1 {
    font-size: 1.7rem;
  }
}
