@media (min-width: 600px) {
  .Contact-map-wrapper {
    position: absolute;
    top: 0 !important;
    right: 0 !important;
    z-index: -55;
    width: 100%;
  }

  .Contact-form {
    margin-top: 100px !important;
  }
}
